.Trip_Section{
    width: 90%;
    margin: 1% auto;
    background: white;
}
.trip_header{
    display: flex;
    background: #0e0e5d;
    color: white;
    padding: 1%;
    font-size: 14px;
    justify-content: space-between;
}

.table_container table{
    width: 95%;
    /* border: 2px solid #f7f4f4; */
    margin: 2% auto;
    border-collapse: collapse;
}
.table_container table td,th{
    border: 1px solid #f7f4f4;
}
.table_container table td{
    font-size: 10px;
    padding: 12px;
}
.table_container table th{
    font-size: 12px;
    background-color: #38c7fe;
    color: white;
    padding: 6px;
}
.report {
    background-color: #28dddd;
    padding: 7px 8px;
    margin-right: 6px;
    color: white;
    border-radius: 3px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:426px) {
    .table_container{
        overflow: scroll;
    }
    .trip_header{
        font-size: 7px;
    }
    .table_container table th {
        font-size: 6px;
        padding: 2px;
    }    
}